name: 'CI'

on:
  push:
    branches:
      - main
  pull_request:
    branches: '**'

permissions:
  contents: read
  issues: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      self_mutation_happened: ${{ steps.self_mutation.outputs.self_mutation_happened }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.tool-versions'
          cache: npm

      - run: npm install

      - run: npm run test:integ
        env:
          GITHUB_TOKEN: ${{ secrets.INTEG_TEST_ACCESS_TOKEN }}
