name: 'CI'

on:
  push:
    branches:
      - main
  pull_request:
    branches: '**'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      self_mutation_happened: ${{ steps.self_mutation.outputs.self_mutation_happened }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - run: npm install
