name: Issue moderator test
on:
  issues:
    types: [opened, edited, reopened]
  issue_comment:
    types: [created]
jobs:
  moderate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Moderate the issue
        # uses: tachiyomiorg/issue-moderator-action@v1
        uses: ./
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          duplicate-check-enabled: true
          duplicate-check-label: enhancement
          existing-check-enabled: true
          existing-check-label: enhancement
          auto-close-rules: |
            [
              {
                "type": "title",
                "regex": ".*Test title.*",
                "message": "The title was not updated."
              },
              {
                "type": "body",
                "regex": ".*DELETE THIS SECTION IF YOU HAVE READ AND ACKNOWLEDGED IT.*",
                "message": "The acknowledgment section was not removed."
              },
              {
                "type": "body",
                "regex": ".*Test: \\?.*",
                "message": "The requested information was not filled out."
              },
              {
                "type": "both",
                "regex":".*(mangago|mangafox|hq\\s*dragon|manga\\s*host).*",
                "ignoreCase": true,
                "message": "{match} will not be added back as it is too difficult to maintain"
              }
            ]
          auto-close-ignore-label: do-not-autoclose
